<div class="container">
  <nav
    class="navbar navbar-expand-lg bg-md-white py-md-3 px-md-7 mt-md-7 mb-md-3 desktop"
  >
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="index.html">
          <img
            class="me-lg-4 logo"
            src="../assets/images/logo.png"
            alt="logo"
          />
        </a>
        <div class="navbar-nav pe-3 d-none d-lg-block">
          <div class="nav-item dropdown position-static">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              探索
            </a>
            <!-- 第一層 -->
            <ul class="dropdown-menu desktop-nav-dropdown-menu dropdown-one">
              <li>
                <a class="dropdown-item dropdown-item-all" href="#">
                  探索全部
                </a>
              </li>
              <li><a class="dropdown-item" href="#">音樂</a></li>
              <li><a class="dropdown-item" href="#">攝影</a></li>
              <li class="dropend position-static">
                <a
                  class="dropdown-item"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  href="#"
                  >程式</a
                >
                <!-- 第二層 -->
                <ul class="dropdown-menu dropdown-two">
                  <li>
                    <a class="dropdown-item dropdown-item-all" href="#">
                      所有程式
                    </a>
                  </li>
                  <li><a class="dropdown-item" href="#">程式入門</a></li>
                  <li class="dropend position-static">
                    <a
                      class="dropdown-item"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      href="#"
                      >網頁前端</a
                    >
                    <!-- 第三層 -->
                    <ul class="dropdown-menu dropdown-three px-4 py-6">
                      <li class="border-bottom">
                        <h2 class="fs-7 mb-3 d-flex align-items-center">
                          <img
                            src="../assets/images/icons/ic_fire.png"
                            width="24"
                            alt="ic_fire"
                          />
                          熱門網頁前端課程
                        </h2>
                      </li>
                      <!-- card1 -->
                      <li class="d-flex mt-3 border-bottom">
                        <div class="me-2 position-relative">
                          <img
                            class="object-fit-cover rounded-2"
                            src="../assets/images/course-5.png"
                            width="100"
                            height="100"
                            alt="course-5"
                          />
                          <p
                            class="position-absolute top-0 start-0 px-2 py-1 m-1 rounded-pill fs-8 text-error-100 bg-error-10"
                          >
                            8 折
                          </p>
                        </div>
                        <div>
                          <h3 class="fs-7 text-neutral-100">
                            小白也會！從零開始學習 Python 程式設計
                          </h3>
                          <div class="d-flex border-bottom pb-2">
                            <img
                              src="../assets/images/avatar-2.png"
                              alt="avatar-2"
                            />
                            <p class="py-1 px-2">Kelly Hsu</p>
                            <div
                              class="d-flex ms-auto flex-column align-items-end"
                            >
                              <p class="text-primary-100">NT$ 2,480</p>
                              <p
                                class="fs-9 text-neutral-60 text-decoration-line-through"
                              >
                                NT$ 3,200
                              </p>
                            </div>
                          </div>
                          <div
                            class="d-flex justify-content-between align-items-center mt-2 pb-4"
                          >
                            <p>已有 420 位同學加入</p>
                            <div class="d-flex align-items-center">
                              <span
                                class="material-symbols-outlined filled icon-star"
                              >
                                star
                              </span>
                              <p>4.0(333)</p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <!-- card2 -->
                      <li class="d-flex mt-3 border-bottom">
                        <div class="me-2 position-relative">
                          <img
                            class="object-fit-cover rounded-2"
                            src="../assets/images/course-5.png"
                            width="100"
                            height="100"
                            alt="course-5"
                          />
                          <p
                            class="position-absolute top-0 start-0 px-2 py-1 m-1 rounded-pill fs-8 text-error-100 bg-error-10"
                          >
                            8 折
                          </p>
                        </div>
                        <div>
                          <h3 class="fs-7 text-neutral-100">
                            小白也會！從零開始學習 Python 程式設計
                          </h3>
                          <div class="d-flex border-bottom pb-2">
                            <img
                              src="../assets/images/avatar-2.png"
                              alt="avatar-2"
                            />
                            <p class="py-1 px-2">Kelly Hsu</p>
                            <div
                              class="d-flex ms-auto flex-column align-items-end"
                            >
                              <p class="text-neutral-60">已購買</p>
                              <p
                                class="fs-9 text-neutral-60 text-decoration-line-through"
                              >
                                NT$ 3,200
                              </p>
                            </div>
                          </div>
                          <div
                            class="d-flex justify-content-between align-items-center mt-2 pb-4"
                          >
                            <p>已有 420 位同學加入</p>
                            <div class="d-flex align-items-center">
                              <span
                                class="material-symbols-outlined filled icon-star"
                              >
                                star
                              </span>
                              <p>4.0(333)</p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <!-- card3 -->
                      <li class="d-flex mt-3">
                        <div class="me-2 position-relative">
                          <img
                            class="object-fit-cover rounded-2"
                            src="../assets/images/course-5.png"
                            width="100"
                            height="100"
                            alt="course-5"
                          />
                          <p
                            class="position-absolute top-0 start-0 px-2 py-1 m-1 rounded-pill fs-8 text-error-100 bg-error-10"
                          >
                            8 折
                          </p>
                        </div>
                        <div>
                          <h3 class="fs-7 text-neutral-100">
                            小白也會！從零開始學習 Python 程式設計
                          </h3>
                          <div class="d-flex border-bottom pb-2">
                            <img
                              src="../assets/images/avatar-2.png"
                              alt="avatar-2"
                            />
                            <p class="py-1 px-2">Kelly Hsu</p>
                            <div
                              class="d-flex ms-auto flex-column align-items-end"
                            >
                              <p class="text-primary-100">NT$ 2,480</p>
                              <p
                                class="fs-9 text-neutral-60 text-decoration-line-through"
                              >
                                NT$ 3,200
                              </p>
                            </div>
                          </div>
                          <div
                            class="d-flex justify-content-between align-items-center mt-2"
                          >
                            <p>已有 420 位同學加入</p>
                            <div class="d-flex align-items-center">
                              <span
                                class="material-symbols-outlined filled icon-star"
                              >
                                star
                              </span>
                              <p>4.0(333)</p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">網頁後端</a></li>
                  <li><a class="dropdown-item" href="#">網站架設</a></li>
                  <li><a class="dropdown-item" href="#">資訊安全</a></li>
                  <li><a class="dropdown-item" href="#">程式語言</a></li>
                  <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                  <li><a class="dropdown-item" href="#">資料科學</a></li>
                  <li><a class="dropdown-item" href="#">人工智慧</a></li>
                  <li><a class="dropdown-item" href="#">量化分析</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">程式</a></li>
              <li><a class="dropdown-item" href="#">藝術</a></li>
              <li><a class="dropdown-item" href="#">人文</a></li>
              <li><a class="dropdown-item" href="#">投資理財</a></li>
              <li><a class="dropdown-item" href="#">心靈成長</a></li>
              <li><a class="dropdown-item" href="#">職場技能</a></li>
              <li><a class="dropdown-item" href="#">生活品味</a></li>
            </ul>
          </div>
        </div>
        <form class="position-relative w-100 d-none d-lg-block" role="search">
          <span
            class="material-symbols-outlined position-absolute top-50 start-0 translate-middle-y ms-6"
          >
            search
          </span>
          <input
            class="form-control px-7 py-8"
            type="search"
            placeholder="搜尋各種音樂、數學、程式及設計課程"
            aria-label="Search"
          />
          <button
            class="btn btn-primary-100 position-absolute top-50 end-0 translate-middle-y me-2 px-3 py-6"
            type="submit"
          >
            搜尋
          </button>
        </form>
      </div>
      <div class="d-flex align-items-center">
        <span class="material-symbols-outlined ms-2"> notifications </span>
        <span class="material-symbols-outlined ms-3 me-3"> shopping_cart </span>
        <button class="btn btn-primary-100 d-none d-lg-block p-0">
          <a class="px-3 py-6" href="login.html">登入 / 註冊</a>
        </button>
        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div
        class="offcanvas offcanvas-end d-flex d-xl-none w-100"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body position-relative d-lg-none">
          <!-- 第一層 -->
          <ul class="list-unstyled">
            <li>
              <a class="dropdown-item dropdown-item-all" href="#"> 探索全部 </a>
            </li>
            <li><a class="dropdown-item" href="#">音樂</a></li>
            <li><a class="dropdown-item" href="#">攝影</a></li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                href="#program"
                role="button"
                aria-expanded="false"
                aria-controls="program"
              >
                程式
              </a>
            </li>
            <li><a class="dropdown-item" href="#">程式</a></li>
            <li><a class="dropdown-item" href="#">藝術</a></li>
            <li><a class="dropdown-item" href="#">人文</a></li>
            <li><a class="dropdown-item" href="#">投資理財</a></li>
            <li><a class="dropdown-item" href="#">心靈成長</a></li>
            <li><a class="dropdown-item" href="#">職場技能</a></li>
            <li><a class="dropdown-item" href="#">生活品味</a></li>
          </ul>
          <!-- 第二層 -->
          <div
            class="collapse position-absolute top-0 start-0 w-100"
            id="program"
          >
            <div class="card card-body border-0">
              <ul class="list-unstyled">
                <li>
                  <a
                    class="dropdown-item dropdown-item-all d-flex align-items-center justify-content-center position-relative"
                    data-bs-toggle="collapse"
                    role="button"
                    data-bs-target="#program"
                    aria-expanded="false"
                    aria-controls="program"
                    ><span
                      class="material-symbols-outlined position-absolute start-0"
                    >
                      chevron_left </span
                    >所有程式</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">程式入門</a></li>
                <li>
                  <a
                    class="dropdown-item"
                    data-bs-toggle="collapse"
                    href="#web-front"
                    role="button"
                    aria-expanded="false"
                    aria-controls="web-front"
                    >網頁前端</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">網頁後端</a></li>
                <li><a class="dropdown-item" href="#">網站架設</a></li>
                <li><a class="dropdown-item" href="#">資訊安全</a></li>
                <li><a class="dropdown-item" href="#">程式語言</a></li>
                <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                <li><a class="dropdown-item" href="#">資料科學</a></li>
                <li><a class="dropdown-item" href="#">人工智慧</a></li>
                <li><a class="dropdown-item" href="#">量化分析</a></li>
              </ul>
            </div>
          </div>
          <!-- 第三層 -->
          <div
            class="collapse position-absolute top-0 start-0 w-100"
            id="web-front"
          >
            <div class="card card-body border-0">
              <ul class="list-unstyled">
                <li>
                  <a
                    class="dropdown-item dropdown-item-all d-flex align-items-center justify-content-center position-relative"
                    data-bs-toggle="collapse"
                    role="button"
                    data-bs-target="#web-front"
                    aria-expanded="false"
                    aria-controls="web-front"
                    ><span
                      class="material-symbols-outlined position-absolute start-0"
                    >
                      chevron_left </span
                    >網頁前端</a
                  >
                </li>
                <li class="border-bottom">
                  <h2 class="fs-7 mb-3 d-flex align-items-center">
                    <img
                      src="../assets/images/icons/ic_fire.png"
                      width="24"
                      alt="ic_fire"
                    />
                    熱門網頁前端課程
                  </h2>
                </li>
                <!-- card1 -->
                <li class="d-flex mt-3 border-bottom justify-content-around">
                  <div class="me-2 position-relative">
                    <img
                      class="object-fit-cover rounded-2 course-5"
                      src="../assets/images/course-5.png"
                      alt="course-5"
                    />
                    <p
                      class="position-absolute top-0 start-0 px-2 py-1 m-1 rounded-pill fs-8 text-error-100 bg-error-10"
                    >
                      8 折
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between">
                    <h3 class="fs-7 text-neutral-100">
                      小白也會！從零開始學習 Python 程式設計
                    </h3>
                    <div class="d-flex border-bottom pb-2">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" />
                      <p class="py-1 px-2">Kelly Hsu</p>
                      <div class="d-flex ms-auto flex-column align-items-end">
                        <p class="text-primary-100">NT$ 2,480</p>
                        <p
                          class="fs-9 text-neutral-60 text-decoration-line-through"
                        >
                          NT$ 3,200
                        </p>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2 pb-4"
                    >
                      <p>已有 420 位同學加入</p>
                      <div class="d-flex align-items-center">
                        <span
                          class="material-symbols-outlined filled icon-star"
                        >
                          star
                        </span>
                        <p>4.0(333)</p>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- card2 -->
                <li class="d-flex mt-3 border-bottom justify-content-around">
                  <div class="me-2 position-relative">
                    <img
                      class="object-fit-cover rounded-2 course-5"
                      src="../assets/images/course-5.png"
                      alt="course-5"
                    />
                    <p
                      class="position-absolute top-0 start-0 px-2 py-1 m-1 rounded-pill fs-8 text-error-100 bg-error-10"
                    >
                      8 折
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between">
                    <h3 class="fs-7 text-neutral-100">
                      小白也會！從零開始學習 Python 程式設計
                    </h3>
                    <div class="d-flex border-bottom pb-2">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" />
                      <p class="py-1 px-2">Kelly Hsu</p>
                      <div class="d-flex ms-auto flex-column align-items-end">
                        <p class="text-neutral-60">已購買</p>
                        <p
                          class="fs-9 text-neutral-60 text-decoration-line-through"
                        >
                          NT$ 3,200
                        </p>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2 pb-4"
                    >
                      <p>已有 420 位同學加入</p>
                      <div class="d-flex align-items-center">
                        <span
                          class="material-symbols-outlined filled icon-star"
                        >
                          star
                        </span>
                        <p>4.0(333)</p>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- card3 -->
                <li class="d-flex mt-3 justify-content-around">
                  <div class="me-2 position-relative">
                    <img
                      class="object-fit-cover rounded-2 course-5"
                      src="../assets/images/course-5.png"
                      alt="course-5"
                    />
                    <p
                      class="position-absolute top-0 start-0 px-2 py-1 m-1 rounded-pill fs-8 text-error-100 bg-error-10"
                    >
                      8 折
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between">
                    <h3 class="fs-7 text-neutral-100">
                      小白也會！從零開始學習 Python 程式設計
                    </h3>
                    <div class="d-flex border-bottom pb-2">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" />
                      <p class="py-1 px-2">Kelly Hsu</p>
                      <div class="d-flex ms-auto flex-column align-items-end">
                        <p class="text-primary-100">NT$ 2,480</p>
                        <p
                          class="fs-9 text-neutral-60 text-decoration-line-through"
                        >
                          NT$ 3,200
                        </p>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <p>已有 420 位同學加入</p>
                      <div class="d-flex align-items-center">
                        <span
                          class="material-symbols-outlined filled icon-star"
                        >
                          star
                        </span>
                        <p>4.0(333)</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="d-lg-none border-top bg-white w-100 position-absolute bottom-0 start-0 px-4 py-4"
          >
            <a class="btn btn-primary-100 d-block" href="login.html"
              >登入 / 註冊</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
